<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="full-height">
    <p class="mat-title m8">Test Rig API</p>
    <mat-progress-bar *ngIf="loading"
                      color="primary"
                      mode="indeterminate"></mat-progress-bar>
    <section *ngIf="socket && state"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             fxFlex>
        <section fxLayout="row | wrap"
                 fxLayoutAlign="start start"
                 fxLayoutGap="8px"
                 fxFlex>
            <section fxLayout="column"
                     fxLayoutAlign="start start"
                     class="p8">
                <card>
                    <p class="m4 mat-body-strong">Connection String</p>
                    <p class="m4 word-break-all">
                        {{state.connection ?? 'No Connection Retrieved'}}
                    </p>
                </card>
                <toggle-block activeLabel="Destroy Database"
                              inactiveLabel="Initialize Database"
                              [active]="state.databaseCreated"
                              [disabled]="loading"
                              (slide)="toggleDatabase()"></toggle-block>
                <toggle-block activeLabel="Kill Process"
                              inactiveLabel="Start Process"
                              [active]="state.processRunning"
                              [disabled]="loading"
                              (slide)="toggleProcess()"></toggle-block>
                <status-button label="Seed Topic"
                               [disabled]="loading || topicSeed?.id > 0 || !(state.databaseCreated) || !(state.processRunning)"
                               [status]="topicSeed?.id > 0"
                               (action)="seedTopic()">
                    <pre class="p8 m8 pre-wrap"><code [class]="topicSeed?.id > 0 ? 'color-green' : 'color-red'">{{topicSeed | json}}</code></pre>
                </status-button>
            </section>
            <ng-container *ngIf="state.databaseCreated && state.processRunning">
                <topic-editor class="m8"
                              [data]="topic"
                              (update)="seeded()"></topic-editor>
            </ng-container>
        </section>
        <console [messages]="socket.output"></console>
    </section>
</section>
